* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background : lightcoral;
}

.card {
    width : 700px;
    background: #ccc;
    padding: 20px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 28px;
}

/*Scroll-Bar*/
::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#21D4FD , #B721FF);
    border-radius: 100px;

}

